exportPattern("^[[:alpha:]]+")

importFrom("stats", "runif")
importFrom("emulator","quad.tdiag","quad.tform", "quad.form","quad.3form")
importFrom("graphics", "arrows", "legend", "plot", "points")

import("magrittr")

S3method("Ops"    , "3vel")
S3method("length" ,  "vel")
S3method("names"  ,  "vel")
S3method("names<-",  "vel")
S3method("print"  , "3vel")
S3method("print"  , "4vel")
S3method("["      ,  "vel")
S3method("[<-"    ,  "vel")
S3method("gam"    , "3vel")
S3method("gam"    , "4vel")
S3method("gamm1"  , "3vel")
S3method("gamm1"  , "4vel")
S3method("c"      , "3vel")
S3method("c"      , "4vel")
S3method("speed"  , "3vel")
S3method("speed"  , "4vel")



S3method("gam"    , "default")
S3method("gamm1"  , "default")
         
S3method("seq", "3vel")

